*{
    font-family: "Montserrat";
}


body {
    margin: 30px 15px;
    background-color: #000;
    color: #ffffffd5;
}

main{
    display: flex;
    margin: auto;
    max-width: 1230px;
    gap: 20px;
}

/*                   *\
   ----- ASIDE -----   
\*                   */

.aside {
    position: sticky;
    top: 30px;
    justify-content: center;
    padding: 15px;
    border: 1px solid #fff4;
    border-radius: 20px;
    min-width: 250px;
    width: auto;
    height: max-content;  
    background-color: #1d1d1d;
    backdrop-filter: blur(90px);
}

.aside__img{
    display: flex;
    width: 150px;
    border-radius: 12px;
    margin: 20px auto 10px;
}

.aside__info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside__info-name{
    font-size: 1.7rem;
    text-align: center;
    margin: 10px 0;
}

.aside__info-profesion{
    font-size: 13px;
    font-weight: 100;
    max-width: max-content;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border-radius: 8px;
    background-color: #fff1;
}

hr{
    margin-top: 10px;
    opacity: 0.2;
}


.aside__info-more-container{
    display: flex;
    flex-direction: column;
}

.info__more-container{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    margin-bottom: 8px;
}

.info__more-icon{
    display: flex;
    color: gold;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background: #222;
    border-top: 0.1px solid rgb(68, 68, 68);
    border-left: 0.1px solid rgb(68, 68, 68);
    border-radius: 10px;
}

.info__more-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 10px;
    align-content: center;
}

.info__more-title{
    font-size: 11px;
    margin-top: 0;
    color: rgb(173, 171, 171);
}

.info__more-link{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin: 0;
}

.aside__social-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 0 ;
    margin-top: 10px;
}

.social__link img{
    width: 20px;
}

.social__link img:hover{
    opacity: 0.85;
}


/*                                 *\
   -------- ASIDE QUERIES -------- 
\*                                 */


@media screen and (max-width:1200px){

    body{
        margin: 0 15px;
    }

    main{
        flex-direction: column;
        gap: 20px;
    }

    .aside{
        position: relative;
        margin-bottom: 30px;
    }

    .aside__info-principal-container{
        display: flex;
        gap: 20px;
        margin-left: 10px;
        align-items: center;
    }

    .aside__img{
        width: 120px;
    }

    .aside__info-name{
        font-size: 1.6rem;
        margin-bottom: 5px;
        padding: 0;
    }

    .aside__info-profesion{
        font-size: 0.7rem;
        padding: 8px;
        margin: 0;
        width: max-content;
        width: 80%;
    }

    .aside__info-more-container{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
    }

    .info__more-container{
        width: 230px;
    }


}



@media screen and (max-width:578px){

    .aside__info-more-container{
        justify-content: start;
    }

    .aside__img{
        width: 80px;
    }

    .aside__info-name{
        font-size: 1.3rem;
        margin-bottom: 5px;
        padding: 0;
    }

    .aside__info-profesion{
        font-size: 0.5rem;
        padding: 8px;
        margin: 0;
        width: max-content;
        width: 80%;
    }

    

    .info__more-icon{
        min-width: 30px;
        min-height: 30px;
    }

    svg{
        width: 15px;
    }

}



/*                                *\
   -------- MAIN SECTION -------- 
\*                                */


.main__container{
    position: relative;
    background-color: #1d1d1d;
    width: 100%;
    padding: 15px ;
    border: 1px solid #fff4;
    border-radius: 20px;
    height: 100vh;   
}

.main__nav-bar{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    border-bottom: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;;
    border-radius: 0 0 0 20px;
    width: max-content;
    background-color: #fff1;
    padding: 6px;
}

.main__ul-container{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.main__nav-item{
    padding: 0 30px;
}

.main__nav-item a{
    color: #fff;
    text-decoration: none;
} 

.main__nav-item a:hover{
    opacity: 0.8;
} 

.main__nav-item .nav-link.active{
    color: gold;
} 

.content {
    display: none;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos específicos para cada sección */

.class-title {
    position: relative;
    padding-bottom: 10px; /* Aumenta el padding-bottom para asegurarse de que haya espacio para la barra */
    font-size: 2em;
    margin-bottom: 50px;
    color: #fff;
}

.class-title::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajusta la posición inferior para que esté justo debajo del texto */
    left: 0;
    width: 40px; /* Asegúrate de que sea 40px */
    height: 5px; /* Asegúrate de que sea 5px */
    background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    border-radius: 3px;
}


.about p, .portfolio p, .blog p, .contact p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #c8c8c8;
    font-weight: 400;

}

.portfolio ul {
    list-style-type: square;
    margin-left: 20px;
}

.blog article {
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
}

.contact form input, .contact form textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff4;
}

.contact form button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: gold;
    color: #1d1d1d;
    border: none;
    cursor: pointer;
}

/* Mostrar la sección activa */
.content.active {
    display: block;
}

/*                                 *\
   -------- MAIN QUERIES -------- 
\*                                 */


@media screen and (max-width:1200px){

    .main__container{
        width: auto;
    }


}

@media screen and (max-width:710px){

    .main__container{
        margin-bottom: 50px;
    }

    .main__nav-bar{
        position: fixed;
        top: auto;
        right: 3px;
        bottom: 0;
        left: 3px;
        width: auto;
        border: 1px solid #fff4;
        border-radius: 10px 10px 0 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .main__ul-container{
        display: flex;
        justify-content: space-evenly;
    }

    .main__nav-item{
        font-size: 0.8rem;
        padding: 3px 10px;
    }
    

}

